#!/usr/bin/make -f

export CARGO_HOME = $(CURDIR)/debian/cargo

# Offline build using vendored dependencies
export CARGO_NET_OFFLINE = true

%:
	dh $@

override_dh_auto_build:
	cargo build --release --verbose --offline

override_dh_auto_install:
	install -D -m 755 target/release/lsport debian/lsport/usr/bin/lsport
	install -D -m 644 debian/lsport.1 debian/lsport/usr/share/man/man1/lsport.1

override_dh_auto_clean:
	cargo clean || true
	rm -rf $(CARGO_HOME)

override_dh_auto_test:
	# Skip tests during package build
